<div flex layout-margin layout="column">
	<md-card>
		<img ng-src="https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/25126583741_d7db3f6905_o.jpg?itok=34hyLETP" 
		class="md-card-image" alt="NASA photo of the day. 2-23-2016" height="200">
	 <md-card-content>
	   <h2>Welcome to BadMovieScience!</h2>
	   <p>Use the menu to log in and browse fields of study and media genres. Click score to rant away.</p>
	 </md-card-content>
	 <md-card-footer>
	   4/4/2016
	 </md-card-footer>
	</md-card>
</div>